@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

@font-face{
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Roboto Slab', serif;
}