@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

@font-face{
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$white: #ffffff;
$blue: #002e5b;
$yellow: #fde428;
$gray-light: #666666;
$gray-dark: #333333;
$gray-light-bg: #f4f4f4;
$yellow-2: #fde52c;
$lightish-green: #65e496;
$battleship-grey: #696980;
$charcoal-grey: #44444f;
$bluey-grey: #9191b5;

body {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

.wrap {
	max-width: 1168px;
	margin: 0 auto;
}
.page_main {
	background: url(../img/bg-main.png) top left/cover no-repeat;
	color: $white;
	padding: 50px 0 162px;

}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1168px;
	margin: 0 auto;
	&__logo {
		display: block;
		width: 137px;
		height: 28px;
		background-image: url(../img/svg/logo.svg);
	}
	&-list {
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		transform: translateY(4px);
		&__item {
			margin-left: 22px;
		}
		&__link {
			display: block;
			padding-bottom: 5px;
			border-bottom: 3px solid transparent;
			font-family: 'OpenSans', sans-serif;
			font-size: 15px;
			letter-spacing: 1.5px;
			&:visited {
				color: $white;
			}
			&:hover {
				border-color: $lightish-green;
			}
			&.active {
				border-color: $lightish-green;
			}
		}
	}
}
.block-book {
	display: flex;
	justify-content: flex-start;
	padding-top: 181px;
}
.block-cover {
	width: 445px;
	height: 639px;
	border-radius: 5px;
	background-image: url(../img/svg/book.svg);
	flex: 0 0 445px;
	margin-right: 39px;
}
.block-text {
	color: $white;
	text-align: left;
	font-size: 18px;
	padding: 3px 15px;
	max-width: 585px;
	&_author {
		color: $battleship-grey;
		padding-top: 18px;
		padding-left: 0px;
	}
	&__name {
		font-family: 'OpenSans', sans-serif;
		letter-spacing: 1.3px;
		margin: 0 0 28px 2px;
		&_big-margin {
			margin-bottom: 18px;
		}
	}
	&__title {
		font-size: 48px;
		font-weight: bold;
		letter-spacing: 1.6px;
		margin-bottom: 11px;
	}
	&__subtitle {
		letter-spacing: 1.1px;
		color: $lightish-green;
		margin: 0 0 41px;
	}
	&__description {
		font-family: 'OpenSans', sans-serif;
		font-size: 15px;
		line-height: 1.6;
		letter-spacing: 1.3px;
		margin-bottom: 24px;
	}
	& > a {
		display: inline-block;
		padding: 15px 26px;
		border-radius: 3px;
		box-shadow: 0px 2px 0 0 rgba(101, 228, 125, 0.5);
		background-image: linear-gradient(to top, #65e4ce, #65e4a1), 
						  linear-gradient(to bottom, #65e47d, #65e47d);
		letter-spacing: 0.8px;
		color: $white;
		margin: 21px 0 22px;
	}
	& > small {
		display: block;
		font-family: 'OpenSans', sans-serif;
		font-size: 12px;
		font-style: italic;
		letter-spacing: 0.4px;
		margin-left: -2px;
	}
}
.block-author {
	display: flex;
	justify-content: space-between;
	padding-top: 160px;
}
.block-ava {
	margin-right: -2px;
	&__gradient {
		width: 435px;
		height: 558px;
		background-image: linear-gradient(to top left, #5acab1, #426384);
		position: relative;
	}
	&__picture {
		position: absolute;
		top: 48px;
		right: 44px;
	}
}