<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bukee</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Roboto+Slab:100,400,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="../styles/main.css">

        <script src="https://kit.fontawesome.com/bb4fd98a6b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="page page_main">
            <header>
                <div class="header">
                    <a href="" class="header__logo"></a>
                    <nav>
                        <ul class="header-list">
                            <li class="header-list__item"><a href="" class="header-list__link active">Home</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">About</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Contents</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Books</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Education</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Skills</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Portfolio</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Clients</a></li>
                            <li class="header-list__item"><a href="" class="header-list__link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="wrap wrap_main">
                <div class="book">
                    <div class="cover">
                        <h2 class="cover__title">
                            Good book
                            <span>Don’t judge a book by its cover</span>
                        </h2>
                        <p class="cover__author">- By Emma Anderson</p>
                    </div>
                    <div class="text text_main">
                        <div class="text__name text__name_main">- By Emma Anderson</div>
                        <h1 class="text__title">BUKEE: THE BOOK</h1>
                        <p class="text__subtitle">A room without books is like a body without a soul</p>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut</p>
                        <a href="" class="text__link">Buy this book - $15.00</a>
                        <small>* Some conditions may applicable</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_author">
            <div class="wrap">
                <div class="author">
                    <div class="text text_author">
                        <div class="text__name text__name_author">- Book Author</div>
                        <h2 class="text__title">Emma Anderson</h2>
                        <p class="text__subtitle">A room without books is like a body without a soul</p>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="text__description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut</p>
                        <a href="" class="text__link text__link_author">Read full biography</a>
                    </div>
                    <div class="ava">
                        <div class="ava__gradient">
                            <img class="ava__picture" src="../img/author.jpg" alt="Author">
                        </div>
                    </div>
                </div>
                <div class="counter">
                    <p><span>12</span>Total published books</p>
                    <p><span>5</span>Happy readers</p>
                    <p><span>15,000</span>Happy readers</p>
                </div>
            </div>
        </div>
        <div class="page page_gray">
            <div class="wrap">
                <div class="about text">
                    <h2 class="text__title text__title_about">Book Contents</h2>
                    <p class="text__subtitle text__subtitle_about">Let’s see what we have covered in the book</p>
                    <div class="flex about-flex">
                        <div class="about-text">
                            <h3 class="text__paragraph-title">About the book</h3>
                            <p class="text__description text__description_about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.</p>
                            <div class="featured">
                                <p>Featured in:</p>
                                <ul class="featured__list">
                                    <li><a href="" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
                                    <li><a href="" target="_blank"><i class="fab fa-amazon"></i></a></li>
                                    <li><a href="" target="_blank"><i class="fab fa-sass"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about-table">
                            <h3 class="text__paragraph-title">Table of contents</h3>
                            <ol class="about-table__list">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                            </ol>
                            <ol class="about-table__list about-table__list_more" id="aboutMoreList">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Labore et dolore magna</li>
                            </ol>
                            <button class="text__button text__button_about" id="aboutMore">More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_other">
            <div class="wrap">
                <div class="text other-books">
                    <h2 class="text__title">Other Books</h2>
                    <p class="text__subtitle">Some books you might be interested in</p>
                    <div class="other-books-flex flex">
                        <div class="other-books-flex__item">
                            <div class="small-cover">
                                <h2 class="small-cover__title">
                                    Inception
                                    <span>Books are the best friends</span>
                                </h2>
                                <p class="small-cover__author">- By Emma Anderson</p>
                            </div>
                            <h3 class="text__paragraph-title">Inception</h3>
                            <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a href="" class="other-books__link">Read more</a>
                        </div>
                        <div class="other-books-flex__item">
                            <div class="small-cover">
                                <h2 class="small-cover__title">
                                    Fight Club
                                    <span>Books are the best friends</span>
                                </h2>
                                <p class="small-cover__author">- By Emma Anderson</p>
                            </div>
                            <h3 class="text__paragraph-title">Fight Club</h3>
                            <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a href="" class="other-books__link">Read more</a>
                        </div>
                        <div class="other-books-flex__item">
                            <div class="small-cover">
                                <h2 class="small-cover__title">
                                    Daredevils
                                    <span>Books are the best friends</span>
                                </h2>
                                <p class="small-cover__author">- By Emma Anderson</p>
                            </div>
                            <h3 class="text__paragraph-title">Daredevils</h3>
                            <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a href="" class="other-books__link">Read more</a>
                        </div>
                    </div>
                    <button class="text__button">Browse all books</button>
                </div>
            </div>
        </div>
        <div class="page page_review">
            <div class="wrap wrap_review">
                <div class="slick text review">
                    <div>
                        <div class="review__ava">
                            <div class="review__thumb">
                                <img src="../img/avatar_quote.jpg" alt="Avatar">
                            </div>
                            <div class="review__quotes"></div>
                        </div>
                        <h3 class="text__paragraph-title">Kate Dennings</h3>
                        <p class="text__description">Calligraphy Expert</p>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                    <div>
                        <div class="review__ava">
                            <div class="review__thumb">
                                <img src="../img/avatar_quote.jpg" alt="Avatar">
                            </div>
                            <div class="review__quotes"></div>
                        </div>
                        <h3 class="text__paragraph-title">Kate Dennings</h3>
                        <p class="text__description">Calligraphy Expert</p>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                    <div>
                        <div class="review__ava">
                            <div class="review__thumb">
                                <img src="../img/avatar_quote.jpg" alt="Avatar">
                            </div>
                            <div class="review__quotes"></div>
                        </div>
                        <h3 class="text__paragraph-title">Kate Dennings</h3>
                        <p class="text__description">Calligraphy Expert</p>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_events">
            <div class="wrap events">
                <div class="ava">
                    <div class="ava__gradient">
                        <img class="ava__picture" src="../img/author_events.jpg" alt="Author">
                    </div>
                </div>
                <div class="text">
                    <div class="text__name">- Emma Anderson</div>
                    <h2 class="text__title">Upcoming Events</h2>
                    <p class="text__subtitle">Some upcoming events you might be interested in</p>
                    <div class="events__item">
                        <p class="text__date">November 21, 2018</p>
                        <h4 class="text__h4">Book signing - San francisco, CA</h4>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="" class="text__link">Register</a>
                    </div>
                    <div class="events__item">
                        <p class="text__date">November 21, 2018</p>
                        <h4 class="text__h4">Book reading - Los Angeles, CA</h4>
                        <p class="text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="" class="text__link">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_blog page_gray">
            <div class="wrap text blog">
                <h2 class="text__title">Latest from Blog</h2>
                <p class="text__subtitle">Some of the latest posts from my personal blog</p>
                <div class="blog-post flex">
                    <div class="blog-post__item">
                        <div class="img-wrap">
                            <img src="../img/blog-1.jpg" alt="">
                        </div>
                        <div class="text__h4">Importance of light in photography</div>
                        <p class="text__description">
                            By
                            <a href="" class="text__inline-link">Emma Anderson</a>
                            -
                            <a href="" class="text__inline-link">June 20, 2018</a>
                        </p>
                        <div class="text__description">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</div>
                    </div>
                    <div class="blog-post__item">
                        <div class="img-wrap">
                            <img src="../img/blog-2.jpg" alt="">
                        </div>
                        <div class="text__h4">The tools you need for the perfection</div>
                        <p class="text__description">
                            By
                            <a href="" class="text__inline-link">Emma Anderson</a>
                            -
                            <a href="" class="text__inline-link">June 25, 2018</a>
                        </p>
                        <div class="text__description">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</div>
                    </div>
                    <div class="blog-post__item">
                        <div class="img-wrap">
                            <img src="../img/blog-3.jpg" alt="">
                        </div>
                        <div class="text__h4">Knowing the difference is important</div>
                        <p class="text__description">
                            By
                            <a href="" class="text__inline-link">Emma Anderson</a>
                            -
                            <a href="" class="text__inline-link">August 22, 2018</a>
                        </p>
                        <div class="text__description">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</div>
                    </div>
                </div>
                <a href="" class="text__link">Read more in the blog</a>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <div class="subscribe text flex">
                    <div class="subscribe__left">
                        <h2 class="text__title">Join Newsletter</h2>
                        <div class="text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</div>
                    </div>
                    <div class="subscribe__right">
                        <form action="" method="post" name="subscribe" class="subscribe-form">
                            <input type="email" class="subscribe-form__email" name="email" placeholder="Enter your email">
                            <input type="submit" class="text__button" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_dark-gray">
            <div class="wrap">
                <div class="footer flex text">
                    <div class="footer-column-left">
                        <a href="" class="footer__logo"></a>
                        <div class="text__description">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div class="text__description">© 2018 Bukee Private Limited.</div>
                    </div>
                    <div class="footer-column-middle">
                        <h4 class="text__h4">Useful Links</h4>
                        <ul class="footer__list footer__list_middle">
                            <li class="text__description"><a href="" class="footer__link">About Bukee</a></li>
                            <li class="text__description"><a href="" class="footer__link">Explore Our Ecosystem</a></li>
                            <li class="text__description"><a href="" class="footer__link">Monthly Community Meetup</a></li>
                            <li class="text__description"><a href="" class="footer__link">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-column-right">
                        <h4 class="text__h4">Our Contacts</h4>
                        <ul class="footer__list footer__list_right">
                            <li class="text__description">Amphitheatre Parkway, CA, 94043</li>
                            <li class="text__description">Call us on: +4455663322</li>
                            <li class="text__description">Email: support@bukee.mail</li>
                        </ul>
                        <ul class="footer__social">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-twitch"></i></a></li>
                            <li><a href=""><i class="fab fa-youtube"></i></a></li>
                            <li><a href=""><i class="fab fa-slack-hash"></i></a></li>
                            <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
              $('.slick').slick({
                dots: true,
                arrows: false
              });
            });
            $("#aboutMore").click(function(){
              $("#aboutMoreList").fadeIn();
              $("#aboutMore").hide();
            });
        </script>
        <script src="../js/main.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>